<body >
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold text-danger">404</h1>
    <h2 class="fs-3" class="text-danger">Bạn đừng bấm lung tung</h2>
      <h2>Trang bạn muốn hay bạn đã nhập sai ?</h2>
    <h3 >
     Hãy quay lại với trang wed và phải thật tâm thì tình yêu sẽ đến với bạn .Chúc bạn sớm có được một tình yêu đẹp.
    </h3>
    <a routerLink="" class="btn btn-danger">Quay lại</a>
  </div>
</div>
</body>
