<section>
  <div id="form_create">
    <div class="row">
      <div class="col-lg-12">
        <h1>Danh sách xe</h1>
      </div>
      <div class="row mb-3">
        <div class="col">
          <a class="btn btn-success" routerLink="/create">Thêm mới</a>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <table class="table table-hover" cellpadding="10px">
      <thead>
      <tr>
        <th>Biển số</th>
        <th>Loại xe</th>
        <th>Nhà xe</th>
        <th>Nơi bắt đầu</th>
        <th>Nơi Kết thúc</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th>Thời gian đi</th>
        <th>Thời gian đến</th>
        <th colspan="3">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cars of car">
        <td>{{cars.idNumber}}</td>
        <td>{{cars.carType.carTypeName}}</td>
        <td>{{cars.houseCarName}}</td>
        <td>{{cars.startAddress.addressName}}</td>
        <td>{{cars.endAddress.addressName}}</td>
        <td>{{cars.phone}}</td>
        <td>{{cars.email}}</td>
        <td>{{cars.startTime}}</td>
        <td>{{cars.endTime}}</td>
        <td><a class="btn btn-danger" data-bs-toggle="modal" (click)="deleteModal(cars.id)"
               data-bs-target="#exampleModal">
          Xoá
        </a></td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/edit',cars.id]">
            Cập nhật
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!--modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     *ngIf="cars">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xoá xe :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>Biển số xe: {{cars.houseCarName}}</div>
        <div>Số điện thoại : {{cars.phone}}</div>
        <div>Email: {{cars.email}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" data-bs-dismiss="modal" (click)="deleteCar(cars.id)" class="btn btn-primary">
          Có
        </button>
      </div>
    </div>
  </div>
</div>

