<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="jwtRequestForm" (ngSubmit)="onSubmit()">
      <h1>Đổi mật khẩu</h1>

      <div>
        <input class="form-control" type="password" placeholder="Mật khẩu hiện tại " formControlName="password"/>
      </div>
      <div>
        <input class="form-control" type="password" placeholder="Mật khẩu mới !" formControlName="newPassword"/>
      </div>
      <div>
        <input class="form-control" type="password"  formControlName="newPassword" placeholder="Nhập lại mật khẩu mới !"/>
      </div>
      <div >
        <button  type="submit">Xác nhận</button>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Line Social !</h1>
        <p>Đăng kí miễn phí</p>
        <p>Trò chuyện dễ dàng</p>
        <button class="ghost" id="signUp">Trở lại</button>
      </div>
    </div>
  </div>
</div>
